.allProductsWrapper {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 55px;
  user-select: none;
}
.singleCard {
  width: 100%;
  display: flex;
  border-radius: 16px;
  height: 728px;
  overflow: hidden;
  gap: 20px;
  padding: 10px;
  background-color: rgb(47, 46, 48);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  padding: 15px;
  user-select: none;
  margin-top: 25px;
}
.singleCard img {
  object-fit: cover;
  width: 100%;
  max-width: 650px;
  justify-self: start;
  border-bottom: solid 2px gray;
  margin: auto;
  border-radius: 8px;
  transition: all ease 0.2s;
}

.singleCard p,
h4,
h3,
p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100%;
}
.singleCard h3 {
  cursor: pointer;
  place-self: start;
  font-size: xx-large;
  width: 100%;
  padding: 4px 2px;
  border-radius: 4px;
}
.singleCard h3:hover {
  background-color: rgb(255, 141, 48);
}
.singleCard h4 {
  font-size: 50px;
}
.singleCard span {
  place-self: center;
  text-align: center;
  padding: 18px 8px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 50%;
  background-color: rgb(248, 125, 11);
}
.singleCard span:hover {
  background-color: rgb(255, 211, 14);
}
.singleCard p {
  width: fit-content;
}
.loading {
  font-size: 30px;
  animation: loading infinite 2s linear;
  place-self: center;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.singleWrapper h1 {
  color: black;
}
