.card {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5 auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 518px;
  gap: 12px;
  max-height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  padding: 18px;
  position: relative;
  background-size: 280%;
  animation: intro 0.8s forwards ease, cardsGlow 3s infinite ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
@keyframes intro {
  0% {
    width: 0px;
    height: 0px;
    transform: translateY(-10%);
  }
  45% {
    height: 518px;
    width: 100%;
  }
  100% {
    transform: scaleY(100%);
    transform: translateY(0%);
  }
}
@keyframes cardsGlow {
  0% {
    background-color: hsl(240, 1%, 22%);
  }
  50% {
    background-color: rgb(74, 74, 75);
  }
  100% {
    background-color: hsl(240, 1%, 22%);
  }
}
.card img {
  width: 212px;
  height: 212px;
  object-fit: cover;
  border-bottom: solid 2px gray;
  margin: auto;
  border-radius: 8px;
  transition: all ease 0.2s;
}
.card:hover img {
  transform: translateY(-6%);
}
.card p,
h4,
h3,
p {
  line-height: 1.2; 
  max-height: 3.6em;
  
}
.card h3 {
  cursor: pointer;
  font-size: small;
  text-align: center;
}
.card h4 {
  font-size: x-large;
  text-align: center;
  white-space: nowrap;
}
.card span {
  place-self: center;
  text-align: center;
  padding: 18px 0px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  border-radius: 6px;
  width: 100%;
  background-color: rgb(248, 125, 11);
}
.card span:hover {
  background-color: rgb(255, 211, 14);
}
