.header {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: radial-gradient(#ff9100, #ff5b5b);
  background-size: 280%;
  animation: headerAnim 2s infinite linear;
}
.headerWrapper {
  width: 100%;
  margin-bottom: 35px;
  color: whitesmoke;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.searchWrapper {
  border: solid 2px white;
  width: 50%;
  border-radius: 18px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2px 6px;
  background-color: #dd333375;
}
.searchWrapper input {
  all: unset;
  width: 100%;
  padding: 8px 16px;
}
.searchIcon {
  font-size: 20px;
  padding: 4px 8px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.searchIcon:hover {
  transform: rotate(-30deg);
}
.searchIcon:active {
  font-size: 15px;
  transform: rotate(-30deg);
}

.headerLists {
  display: flex;
  gap: 5px;
}
ul li {
  display: flex;
  font-size: 25px;
  border-radius: 4px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease;
}
ul li:hover {
  background-color: rgba(255, 200, 50, 0.747);
}

.logo {
  display: flex;
  font-size: 55px;
  animation: hBeat 2s ease infinite;
}
.logo:hover {
  filter: drop-shadow(0px 1px 8px rgb(255, 252, 50));
}

@keyframes hBeat {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
.footerWrapper {
  margin-top: 55px;
}
.categoriesWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: solid 2px #ff9100;
  border-radius: 16px;
  padding: 8px 10px;
  background-size: 280%;
  animation: headerAnim 2s infinite linear;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
}
.active {
  background: radial-gradient(#00ff73, #5bdeff) !important;
  background-size: 280%;
  animation: headerAnim 2s infinite linear;
  padding: 8px 16px;
  border-radius: 9px;
  outline: 4px solid #007599;
  cursor: pointer;
  color: white;
}

.categoriesWrapper a {
  background: #ff5b5b;
  padding: 8px 12px;
  border-radius: 9px;
  cursor: pointer;
  color: white;
}
.pending {
  background-color: #197dff;
  padding: 8px 16px;
  border-radius: 9px;
  cursor: pointer;
  color: white;
}
.categoriesList {
  display: flex;
  align-items: center;
  gap: 15px;
}
.categoriesWrapper a:hover {
  background-color: #dd3333;
}
.categoriesWrapper span:active {
  transform: scaleX(110%);
}
.categoriesWrapper a:active {
  transform: scaleX(110%);
}
